img {
    max-width: 100%;
    height:auto;
}

.docutils {
    overflow:auto;
    word-break:break-all;

    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.label {
    word-break: normal;
}


body {
    font-family: 'Segoe UI', 'Segoe WP', 'PT Sans', Helvetica, sans-serif;
    background-color: #ffffff;

    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@media only screen and (min-width: 900px) {
    header { left: 0; top: 0; position: fixed; width: 20%; }

    nav { left: 0; top: 40%; position: fixed; width: 20%; }

    div.main-container { margin-left: 20%; }
    div.footer-container { margin-left: 20%; }

    body { font-size: 1em; }
}


@media only screen and (max-device-width:480px) {
    .logo-nav {
	display : none;
    }

    .quicklink {
	display : none;
    }

}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'PT Sans', Helvetica, sans-serif;
    font-weight: 100;
}

.section h1 {
    border-bottom: 8px solid #999999;
    margin: 0 0;
    display: inline-block;
}

.section h2 {
    border-bottom: 4px solid #999999;
    margin: 0 0;
    display: inline-block;
}

.section h3 {
    border-bottom: 4px solid #999999;
    margin: 0 0;
    display: inline-block;
}

.section h4 {
    border-bottom: 4px solid #999999;
    margin: 0 0;
    display: inline-block;
}

.section h5 {
    border-bottom: 4px solid #999999;
    margin: 0 0;
    display: inline-block;
}

.section h6 {
    border-bottom: 4px solid #999999;
    margin: 0 0;
    display: inline-block;}


.section {
    border-bottom: 1px solid #dedede;
    margin: 0 0;
    margin-bottom: 20px;
}

header h1 * { font-size: 1.4em; }

header h1 {
    font-family: 'Segoe UI', 'Segoe WP', 'PT Sans', Helvetica, sans-serif;
}

#kyrt_logo  {
    margin: 20px 0 20px
}

.highlight {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
    line-height: 1.2;
    background-color: #eeeeee;
}
